.wrap {
    padding: 10px;
    width: 600px;
    margin: 0 auto;
}

.page-host {
    margin-top: 30px;
}

header {
    font-size: 3em;
    padding: 5px;
    margin-bottom: 10px;
}

.links a {
    font-size: 1.5em;
    margin-right: 20px;
}